@import "tailwindcss";

@font-face {
    font-family: "WonderMail";
    src: url("https://db.onlinewebfonts.com/t/e170ff6da3fffe05d58fe216212bad92.eot");
    src: url("https://db.onlinewebfonts.com/t/e170ff6da3fffe05d58fe216212bad92.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/e170ff6da3fffe05d58fe216212bad92.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/e170ff6da3fffe05d58fe216212bad92.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/e170ff6da3fffe05d58fe216212bad92.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/e170ff6da3fffe05d58fe216212bad92.svg#Wonder Mail")format("svg");
}
