@import "tailwindcss";

@font-face {
    font-family: "WonderMail";
    src: url("../media/fonts/wondermail.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body
{
    font-family: "WonderMail";
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
}

.generic_button 
{
   /* flex flex-row justify-center bg-[#1f1f1f] hover:bg-[#424242] hover: transition-all duration-200 ease-out text-3xl rounded-2xl h-[60px] text-white */

    height:  50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #1f1f1f;
    border-radius: 20px;

    font-size: 30px;
    color:white;
    text-shadow: 13px;
    border: solid #424242 2px;
    box-shadow: 5px 3px 3px #1f1f1f46;

    transition: 0.2s all ease-out;
}
.generic_button:hover
{
    transition: 0.2s all ease-out;
    transform: scale(1.05);
    background-color: #424242;
    border: solid #70a0f8 2px;
}
